@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #eb376d;
  border-radius: 10px;
}
@layer base {
  body {
    @apply dark:bg-zinc-900 dark:text-white transition-colors duration-700;
  }
  .login__input-styles {
    @apply bg-transparent border-[1px] border-SecondaryButton group-hover:border-PrimaryButton group-focus-within:border-PrimaryButton transition-colors duration-300 py-2 px-3 rounded-md;
  }
  .home-button-styles {
    @apply absolute right-4 top-4 opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 text-gray-600 hover:text-Accent focus:text-Accent;
  }
}

.slide-in {
  animation: slide-in 800ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  opacity: 0;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slide-in.anim-delay {
  animation-delay: 1s;
}

.fade-in {
  animation: fade-in 1s ease-in-out forwards;
  opacity: 0;
}

.fade-in.anim-delay {
  animation-delay: 1.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
