@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #eb376d;
  border-radius: 10px;
}
@layer base {
  body {
    @apply dark:bg-zinc-900 dark:text-white transition-colors duration-700;
  }
}

.slide-in {
  animation: slide-in 800ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  opacity: 0;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slide-in.anim-delay {
  animation-delay: 1s;
}

.fade-in {
  animation: fade-in 1s ease-in-out forwards;
  opacity: 0;
}

.fade-in.anim-delay {
  animation-delay: 1.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
